<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>计算属性</title>
  </head>
  <body>
    <div id="app">
      <h1>个人信息</h1>
      <p>
      姓：
      <input type="text" name="name" placeholder="请输入您的姓" v-model="firstName">
      </p>
      <p>
      名：
      <input type="text" name="name" placeholder="请输入您的名字" v-model="lastName">
      </p>
      <p>
      年龄：
      <input type="text" name="age" placeholder="请输入您的年龄" v-model="age">
      </p>
      <p>
      性别：
      <input type="radio" name="sex" value="male">男
      <input type="radio" name="sex" value="female">女
      </p>
      <p>
      更多信息：<br/>
      <textarea name="more" placeholder="可以填写您的兴趣等等" rows="8" cols="40">{{more}}</textarea>
      </p>

      <div>
        <h3>姓名：{{fullName}}</h3>
        <p>
          年龄：{{age}}
        </p>
        <p>
          性别：{{sex}}
        </p>
        <p>
          {{more}}
        </p>
      </div>

    </div>



    <script src="../../lib/vue.js"></script>
    <script type="text/javascript">
    var vm = new Vue({
      el: '#app',
      data: {
        firstName: 'Yi',
        lastName: 'Xuan',
        age: 25,
        sex: '男',
        more: '爱好：游戏、足球、看书、写代码'
      },
      computed: {
        fullName: {
          get: function(){
            return this.firstName + ' ' + this.lastName
          },
          set: function(newValue){
            var names = newValue.split(' ');
            this.firstName = names[0];
            this.lastName = names[names.length - 1];
          }
        },
        isMale: function(){
          return this.sex === "男";
        },
        isFemale: function(){
          return this.sex === "女";
        }
      }
    })
    </script>
  </body>
</html>
